---
layout: default
---
<div class="posts">
  {% for post in site.posts %}
  <div class="post">
    <div class="post-row">
      <p class="post-title">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </p>
      <p class="post-date">
        {{ post.date | date: "%b %-d, %Y" }}
      </p>
    </div>
    <p class="post-subtitle">
      {% if post.summary %}
      {{ post.summary }}
      {% else %}
      {{ post.excerpt }}
      {% endif %}
    </p>
  </div>
  {% endfor %}
</div>